*{
    margin: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    bottom: 0; 
    display: flex;
}  

nav {
    display: flex;
    justify-content: space-between;
    background: black;
    height: 40px;
}

.logo {
    font-family: Bahnschrift Condensed;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 0 75px;
    line-height: 40px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: Bahnschrift Condensed;
}

.nav-menu-link {
    display: flex;
    margin-right: 150px;
    list-style:none;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 21px;
    margin: 0 20px;
    line-height: 40px;
    width: max-content;
}



body{
    background: url(imagenes/fondo.jpg) no-repeat;
    background-size:cover;
}

h1{
    text-align: center;
    font-family: Bahnschrift Condensed;
    color: black;
    font-size: 20px;
    margin-top: 125px;
}

p{
    text-align: center;
    color: white;
}

.contenedor{
    padding:100px 10px;
    overflow:hidden;
    }
    .prendas{
    margin:20px;
    padding:16px;
    float:left;
    }
.description{
    margin: 15px;
    padding: 10px;
}
#principal{
    align-items: center;
}

#welcome{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
}

.tarjetImage{
    /* margin-top: 200px; */
   /* margin-left: 320px;*/
   display: flex;
   flex-direction:column ;
   justify-content: space-around;
   align-items:center ;
   float: left;
   margin-left:20% ;
   margin-top: -6%;
}

.formTarjet{
    display: flex;
    flex-direction:column ;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items:center ;
    margin-left:45%;
    margin-top: 10%;
}

.text-message{
    font-family: Bahnschrift Condensed;
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-left:7% ;
    /* top: 50%; */
}

#ingreso{
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

#alertaTarjeta, #hide, #message{
    font-family: Bahnschrift Condensed;
    color: #0d0d0d;
    margin-left:2% ;
    margin-top: 5%;
}

#buttonbuy{
    /* margin-left: 630px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    padding: 10px 50px;
    background-color: #FEFE01;
    font-family: Bahnschrift Condensed;
    border-radius: 15px;
    cursor: pointer;
    /* margin-l cursor: pointer;eft: 1200px; */
    margin-top: 3%;
    margin-bottom: 20px;
}
#bienvenidos{
    margin-left: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    padding: 10px 50px;
    background-color: #FEFE01;
    font-family: Bahnschrift Condensed;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 1200px;
    margin-top: 60px;
}

p.menssage,p.hide{
    color :black;
    margin-top: 20px;
}

footer{
    color: white;
    background: rgb(29, 26, 26);
    display: flex;
    align-content:flex-end;
    justify-content: center;
    font-family: 'Lucida Sans';
    align-self: flex-end;
    width: 100%;
    position: fixed;
    bottom: 0;
}