body
{
    text-align: center;    
background-image: url(imagenes/fondo.jpg)

}
.header{
    text-align: center;
    color:black;
}

h1{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
}

.centrado{
    margin:10px auto;
    margin-block-end: auto;
    display: flex;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

#principal{
    align-items: center;
}


#ingresar{
    margin-left: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ingreso{
    margin-left: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#buttonbuy{
    margin-left: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
}
.footer{
    color: white;
    background: rgb(29, 26, 26);
    text-align:center;
    bottom: 0;
    position: absolute;
    width:100%;
    height:40px;

  }